@model X.PagedList.IPagedList<ThuongMaiDienTu.ViewModel.HangHoaVM>
@{
    ViewData["Title"] = "Search";
    Layout = "_DanhSachHangHoa";
}

<!-- Shop Start -->
@await Html.PartialAsync("ProductItem", Model)
<div class="col-12">
    <nav>
        <div class="pagination justify-content-center">
           
            <div class="pagination">
                @if (Model.HasPreviousPage)
                {
                    <a class="page-link" href="@Url.Action("Search", new {query=ViewBag.query,ViewBag.minPrice,ViewBag.maxPrice, page = Model.PageNumber - 1 })">Previous</a>
                }

                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <a href="@Url.Action("Search", new { query=ViewBag.query,ViewBag.minPrice,ViewBag.maxPrice,page = i })" class="page-link">@i</a>
                }

                @if (Model.HasNextPage)
                {
                    <a class="page-link" href="@Url.Action("Search", new {query=ViewBag.query,ViewBag.minPrice,ViewBag.maxPrice, page = Model.PageNumber + 1 })">Next</a>
                }
            </div>


        </div>
    </nav>
</div>
<!-- Shop End -->