@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Notfound 404";
}
<h1>Not found 404 page</h1>
<img src="https://www.google.com/imgres?q=error%20404%20image&imgurl=https%3A%2F%2Fmedia.geeksforgeeks.org%2Fwp-content%2Fuploads%2F20230802153215%2FError-404.png&imgrefurl=https%3A%2F%2Fwww.geeksforgeeks.org%2Ferror-404-not-found%2F&docid=Y1agl2xon8wxZM&tbnid=fMAhHVNPlV6azM&vet=12ahUKEwi165Ou_OSHAxUar1YBHR9aCagQM3oECHkQAA..i&w=1000&h=470&hcb=2&ved=2ahUKEwi165Ou_OSHAxUar1YBHR9aCagQM3oECHkQAA"></img>